@import "@/assets/styles/variables.less";
@eternity-prefix-home-page: ~'@{eternity-prefix}-home-page';

.@{eternity-prefix-home-page}{
  height: 6.25rem;
  padding: 1.5rem;
  min-height: 22.5rem;
  background: #fff;
  border-radius: 0.5rem;
}